{% extends 'base.html' %}
{% load static %}

{% block title %}
    Data Niffler - Add subject
{% endblock %}

{% block extrahead %}
    <link href="/static/css/fastselect.min.css" type="text/css" media="all" rel="stylesheet"/>
    <script type="text/javascript" src="/static/js/fastselect.min.js"></script>
    <script type="text/javascript" src="/static/js/fastselect.standalone.min.js"></script>
{% endblock %}

{% block content %}
    <h1>Добавление предмета</h1>
    <form method="post" id="post_form">
        {% csrf_token %}
        <label for="name_input">Название предмате</label>
        <input type="text" name="name" id="name_input">
        <br>


        <label for="semesters_select">В каких семестрах преподается?</label>
        <select class="ultipleSelect" multiple id="semesters_select" name="semesters">
            <option value="1">1 бакалавриат</option>
            <option value="2">2 бакалавриат</option>
            <option value="3">3 бакалавриат</option>
            <option value="4">4 бакалавриат</option>
            <option value="5">1 магистратура</option>
            <option value="6">2 магистратура</option>
        </select>

        <script>
            $('.ultipleSelect').fastselect();
        </script>

        <button type="submit" value="">Продолжить</button>
    </form>
{% endblock %}