{% extends 'base.html' %}
{% load static %}

{% block title %}
    Data Niffler - Add subject
{% endblock %}

{% block content %}
    <h1>Добавление предмета</h1>
    <form method="post" id="post_form">
        {% csrf_token %}
        <label for="name_input">Название предмате</label>
        <input type="text" name="name" id="name_input">
        <br>


        <label for="semesters_select">В каком семестре преподается?</label>
        <select multiple="multiple" id="semesters_select" name="semesters" onselect="whenSelected()">
            {% for sem in semesters %}
                <option value='{{ sem }}'>{{ sem }}</option>
            {% endfor %}
        </select>
        <br>

        <label for="is_course_label">Курс по выбору?</label>
        <input type="checkbox" name="is_course" id="is_course_label">

        <br>

        <div class="toAppend"></div>
        <script>
            $('#semesters_select').focusout(function () {
                whenSelected();
            });

            $('#semesters_select').focus(function () {
                $('.toAppend').empty();
            });

            function getTeachers(value, j) {
                $.ajax({
                    'url': '/manage/get_teachers/',
                    'data': {
                        'name': value
                    },
                    'type': 'get',
                    'success': function (json) {
                        for (var i = 0, len = json['res'].length; i < len; i++) {
                            build_results(i, json['res'][i]);
                            add_to_selected(i, j);
                        }
                    }
                })
            }

            var added_set = new Set();

            function add_to_selected(i, j) {
{#                todo add hidden multyple seletc #}
                $('#teacher_line' + i).click(function () {
                    var line = $(this);
                    var added = $('<p></p>').text(line.text()).attr('id', 'added' + i + j);
                    $('#selected_results' + j).append(added);
                    var delete_btn = $('<span> X </span>').attr('id', 'delete' + i + j);
                    $('#selected_results' + j).append(delete_btn);
                    $('#results' + j).empty();
                    
                    $('#delete' + i + j).click(function () {
                        $('#added' + i + j).hide();
                        $('#delete' + i + j).hide();
                        added_set.delete(line.text());
                    })
                });
            }

            function build_results(i, json) {
                var full_name = json['surname'] + ' ' + json['name'] + ' ' + json['third_name'];

                if (!added_set.has(full_name)) {
                    added_set.add(full_name);
                    var line = $('<p></p>').text(full_name);
                    line.attr('id', 'teacher_line' + i);
                    $('#results' + i).append(line);
                }

            }

            function whenSelected() {
                var semesters = $("#semesters_select").val();

                semesters.forEach(function (item, i, arr) {


                    $('.toAppend').append($('<label></label>').text('Преподаватель:'));
                    $('.toAppend').append($('<br>'));
                    var teacher_search = $('<input type="text">').attr('id', 'teacher' + i).attr('name', 'teacher' + i);
                    var selected_results = $('<div></div>').attr('id', 'selected_results' + i);
                    var results = $('<div></div>').attr('id', 'results' + i);

                    var type_select = $('<select></select>').attr('id', 'type' + i).attr('name', 'type' + i);
                    type_select.append($('<option disable select value style="display:none">Выберите тип</option>'));
                    type_select.append($('<option value=1>Лекция</option>'));
                    type_select.append($('<option value=2>Практика</option>'));
                    type_select.append($('<option value=3>Лекция и практика</option>'));


                    $('.toAppend').append($('<h3></h3>').text('Семестр №' + item));
                    $('.toAppend').append(selected_results);
                    $('.toAppend').append(teacher_search);
                    $('.toAppend').append(results);

                    $('.toAppend').append($('<br>'));
                    $('.toAppend').append($('<label></label>').text('Тип предмета'));
                    $('.toAppend').append(type_select);
                    $('.toAppend').append($('<br>'));


                    $('.toAppend').append($('<br>'));
                    $('.toAppend').append($('<label></label>').text('Можно накидать доп. баллы '));
                    $('.toAppend').append($('<input type="checkbox">').attr('name', 'dopballable' + i));

                    $('.toAppend').append($('<div></div>').attr('id', 'toAppend' + i));


                    $('#teacher' + i).on('input', function () {
                        var value = $('#teacher' + i).val();
                        getTeachers(value, i);
                    });


                });
            }
        </script>


        <button type="submit" value="">Add</button>
    </form>
{% endblock %}