{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}
    Data Niffler - Add student
{% endblock %}

{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {% for field in person_form.visible_fields %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field|add_class:'form-control' }}
                {% for error in field.errors %}
                    <span class="help-block">{{ error }}</span>
                {% endfor %}
            </div>
        {% endfor %}
        <details>
            <summary>Форма студента</summary>
            {{ student_form.as_p }}
        </details>
        <input type="hidden" id="hidden_student_form" name="student_filled" value="False"/>
        {% if not read %}
            <button type="submit" value="">Send</button>
        {% endif %}
    </form>
{% endblock %}