{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}
    Добавление человека
{% endblock %}


{% block content %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Добавление человека
            </h1>
        </div>
    </div>
    <!-- /.row -->


    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="row">
        <form method="post">
            <div class="col-lg-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Информация о человеке</h3>
                    </div>
                    <div class="panel-body">
                        {% csrf_token %}
                        {% for field in person_form.visible_fields %}
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field|add_class:'form-control' }}
                                {% for error in field.errors %}
                                    <span class="help-block">{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="panel panel-info" id="student_form" hidden>
                    <div class="panel-body">
                        {% for field in student_form.visible_fields %}
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field|add_class:'form-control' }}
                                {% for error in field.errors %}
                                    <span class="help-block">{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="panel panel-info" id="magistr_form" hidden>
                    <div class="panel-body">
                        {% for field in magistr_form.visible_fields %}
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field|add_class:'form-control' }}
                                {% for error in field.errors %}
                                    <span class="help-block">{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <input type="hidden" id="hidden_student_form" name="student_filled" value="False"/>
                {% if not read %}
                    <button class="btn btn-primary btn-cons" type="submit">Добавить</button>
                {% endif %}
            </div>
        </form>

    </div>

    <script>
        $('#id_status').change(function () {
            $('#student_form').hide();
            $('#magistr_form').hide();
            var selected = $('#id_status').val();
            selected.forEach(function (item, i, arr) {
                /*
                 ATTENTION!
                 ID = 1 - Студент (Бакалавриат)
                 ID = 2 - Магистрант
                 */
                if (item == 1) {
                    $('#student_form').show();
                }
                if (item == 2) {
                    $('#magistr_form').show();
                }
            });

        })
    </script>

{% endblock %}
