{% extends "base.html" %}

{% block content %}
    <h2>LabRequests</h2>
    <table id="lab_req">
        {% for lab_req in requests %}
            <tr>
                <td>{{ lab_req.student }}
                    <a href="{% url 'manage:edit-add-delete-person' person_id=lab_req.student.person.id %}" class="see_detail">{{ lab_req.student.person }}</a>
                </td>
                <td>{{ lab_req.laboratory }}</td>
                <td>{{ lab_req.created_at }}</td>
            </tr>
        {% endfor %}
    </table>

    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="/cars?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="/cars?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock %}