{% extends 'base2.html' %}
{% load static %}
{% load widget_tweaks %}
{% load custom_tags %}

{% block title %}
    Group Rating
{% endblock %}

{% block script %}
   <script>
        $("#id_course,#id_semester").each(function () {
            $(this).change(function () {
                var course_id = String($("#id_course").val());
                var semester_id = String($("#id_semester").val());
                $.ajax({
                    url: '{% url "manage:ajax-get-subjects" %}',
                    traditional: true,
                    data: {
                        'course_id': course_id,
                        'semester_id': semester_id
                    },
                    success: function (response) {
                        var new_options = response;
                        $('#id_subject').empty();
                        $.each(new_options, function (index) {
                            $('#id_subject')
                                .append($('<option>', {value: new_options[index].subject__id})
                                    .text(new_options[index].subject__name));
                        });
                    }
                });
            });
        });
        $("#id_date_begin,#id_date_end").each(function () {
            $(this).change(function () {
                var d_id = parseInt($("#id_date_begin").val());
                var e_id = parseInt($("#id_date_end").val());
                if (d_id >= e_id) {
                    $("#id_date_begin").val(e_id - 1);
                }
            });
        });
    </script>
{% endblock %}
{% block content %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet'
          type='text/css'>
    <link href="{% static 'css/table_s.css' %}" rel='stylesheet'
          type='text/css'>


    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {% for field in form.visible_fields %}
            <div  class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field|add_class:'form-control' }}

                {% for error in field.errors %}
                    <span class="help-block">{{ error }}</span>
                {% endfor %}
            </div>
        {% endfor %}
        {% if not read %}
            <button type="submit" class="button btn-success" >Показать</button>
        {% endif %}


    </form>

    {% if group_rating %}
        <div style="padding-top: 50px;">
        <table  border="2"  width="600" class="table table-bordered" >
            <tr>
            <th>Группа</th>
            {% for subject in subjects %}
                <th>{{ subject.name}}</th>
            {% endfor %}
            {% if subjects_more_than_one%}
            <th>Средний балл</th>
            {% endif %}
            </tr>
            {% for score, groups in group_rating %}
                {% for group in groups%}
                <tr>

                    <td>{{ group }}</td>
                    {% if group_score_by_subjects %}
                        {% for subject_score, subject in group_score_by_subjects|get_item:group.id %}
                            <td>{{ subject_score }}</td>
                        {% endfor %}
                    {% endif %}
                    {% if subjects_more_than_one%}
                    <td>{{ score }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            {% endfor %}
        </table>
        </div>

    {% endif %}
{% endblock %}