{% extends 'base2.html' %}

{% block title %}
    Data Niffler - Add student
{% endblock %}

{% block content %}

    <div align="center" style="padding-top: 50px">
    <form method="get">
    <label>Выберите предмет</label>
        <select name="subject">
            {% for subject in subjects %}
                <option>{{ subject.name }}</option>
            {% endfor %}
        </select>
     <input type="submit" value="Показать"/>
     </form>
    {% if subject_students_rating %}
     <table border="2"  width="600">
            <tr>
                <th>Имя</th>
                <th>Группа</th>
                <th>Балл</th>
             </tr>
            {% for score,students in subject_students_rating %}
                {% for student in students %}
                    <tr>
                        <td>{{ student.person.name }}</td>
                        <td>{{ student.group }}</td>
                        <td>{{ score }}</td>
                    </tr>
                    {% endfor %}
            {% endfor %}
    </table>
        {% else %}
        <b>Список пуст</b>
    {% endif %}
    </div>
{% endblock %}